<template>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Add new location</div>

            <div class="panel-body">
                <div class="form-group">
                    <label>Search Location</label>
                    <div :class="{'input-group': place}">
                        <input type="text" class="form-control" id="googleMapsPlacesInput" :disabled="place">
                        <div class="input-group-addon" v-if="place">
                            <button type="button" class="input-group-text" @click="clearPlace">Clear</button>
                        </div>
                    </div>
                </div>

                <div class="submit">
                    <button type="button" class="btn btn-success" :disabled="!place" @click="addLocation">Add</button>
                    <button type="button" class="btn btn-primary" @click="getCurrentLocation">Add My Current Location</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                place: null,
                $acEl: null,
                autocomplete: null,
            }
        },

        created() {
            this.$root.$on('googleMapsLoaded', this.initialize)
        },

        methods: {
            /**
             * Initialize google maps places autocomplete.
             */
            initialize() {
                this.$acEl = document.getElementById('googleMapsPlacesInput');

                this.autocomplete = new google.maps.places.Autocomplete(this.$acEl);
                this.autocomplete.addListener('place_changed', this.placeChanged);
            },

            /**
             * Trigger when google maps autocomplete changed
             * and prepare the new location obj for adding.
             */
            placeChanged() {
                let place = this.autocomplete.getPlace(),
                    lat = place.geometry.location.lat(),
                    lng = place.geometry.location.lng();

                this.place = {
                    address: place.formatted_address,
                    lat, lng
                }
            },

            /**
             * Clearing the searched location.
             */
            clearPlace() {
                this.place = null;
                this.$acEl.value = '';
            },

            /**
             * Add new location
             * create request for saving the new location
             * case succeed will clear the input and $emit the update.
             */
            addLocation() {
                $(this.$el).block();

                axios({
                    method: 'post',
                    url: uri + '/locations/add',
                    data: this.place
                }).then((response) => {
                    this.clearPlace();
                    this.$emit('locationAdded', response.data.location);
                }).catch((error) => {
                    if (error.response.data && error.response.data.message) {
                        alert(error.response.data.message);
                    }
                }).then(() => {
                    $(this.$el).unblock();
                });
            },

            /**
             * Get the current client location
             * check if the browser support this function.
             * If so will ask permission for the current position
             * and prepare the location obj by filling the missing fields (address)
             * from the google maps geo code function.
             */
            getCurrentLocation() {
                if (!navigator.geolocation) {
                    alert("Geolocation is not supported by this browser.");
                    return;
                }

                $(this.$el).block();

                navigator.geolocation.getCurrentPosition((e) => {
                    let geocoder = new google.maps.Geocoder(),
                        latLng = new google.maps.LatLng(e.coords.latitude, e.coords.longitude);

                    geocoder.geocode({'location': latLng}, (results, status) => {
                        if (status == google.maps.GeocoderStatus.OK) {
                            this.place = {
                                lat: e.coords.latitude,
                                lng: e.coords.longitude,
                                address: results[0].formatted_address,
                            };

                            this.$acEl.value = this.place.address;
                        }

                        $(this.$el).unblock();
                    });
                }, () => $(this.$el).unblock());
            }
        }
    }
</script>
