<template>
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">My Locations</div>

            <div class="panel-body">
                <div id="googleMaps"></div>
                <template v-if="!googleMapsApi">Google Maps did loaded properly.</template>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['locations'],

        data() {
            return {
                map: null,
                markers: [],
                googleMapsApi: -1
            }
        },

        created() {
            this.$root.$on('googleMapsLoaded', this.initialize);
            this.$root.$on('locationsFetched', this.initializeLocations);
            this.$root.$on('locationAdded', e => this.spreadLocations([e]));
        },

        methods: {
            /**
             * Initialized to google maps main component.
             */
            initialize() {
                this.googleMapsApi = 1;

                this.map = new google.maps.Map(document.getElementById('googleMaps'), {
                    zoom: 7
                });

                $(window).on('resize', () => {
                    google.maps.event.trigger(this.map, 'resize');

                    if (this.markers.length) {
                        this.map.fitBounds(this.bounds);
                    }
                });
            },

            /**
             * Initialize markers on the map
             * after fetching locations event will be emitted
             * init the google bounds options and spread the user current locations.
             */
            initializeLocations() {
                this.bounds = new google.maps.LatLngBounds();

                if (!this.locations.length) {
                    this.defaultMapCentered();
                }

                this.markers = [];

                this.spreadLocations(this.locations);
            },

            /**
             * Spread locations as marker on the map.
             */
            spreadLocations(locations) {
                _.each(locations, (location) => {
                    let marker = new google.maps.Marker({
                        map: this.map,
                        label: location.address,
                        animation: google.maps.Animation.DROP,
                        position: {lat: Number(location.lat), lng: Number(location.lng)}
                    });

                    this.markers.push({marker, _id: location.id});
                    this.bounds.extend(marker.position);
                });

                this.map.fitBounds(this.bounds);

                if (this.markers.length < 2) {
                    this.reIdleGoogleMap();
                }
            },

            /**
             * After Initialize The Map
             * And Did Fit Bounds, Need To Update The Zoom
             */
            reIdleGoogleMap() {
                let listener = google.maps.event.addListener(this.map, 'idle', function () {
                    this.map.setZoom(7);
                    google.maps.event.removeListener(listener)
                }.bind(this))
            },

            /**
             * Case the user doesnt have locations
             * will center the map with Israel geolocation.
             */
            defaultMapCentered() {
                let defaultCentered = 'Jerusalem',
                    geocoder = new google.maps.Geocoder();

                geocoder.geocode({'address' : defaultCentered}, (results, status) => {
                    if (status == google.maps.GeocoderStatus.OK) {
                        this.map.setCenter(results[0].geometry.location);
                    }
                });
            }
        }
    }
</script>
