<template>
    <div class="row">
        <add-location @locationAdded="locationAdded"/>
        <locations :locations="locations"/>
    </div>
</template>

<script>
    import Locations from './components/Locations.vue'
    import AddLocation from './components/AddLocation.vue'

    const loadGoogleMapsAPI = require('load-google-maps-api');

    export default {
        components: { Locations, AddLocation },

        data() {
            return {
                locations: [],
            }
        },

        created() {

        },

        mounted() {
            $.blockUI();

            loadGoogleMapsAPI({
                key: window.gmk,
                language: 'en',
                libraries: ['places']
            }).then(respond => this.initialize()).catch();
        },

        methods: {
            /**
             * Initialize the root app component.
             * Will $emit globally for google maps initialized and fetch the user locations.
             */
            initialize() {
                this.$root.$emit('googleMapsLoaded');

                this.fetchLocations();
            },

            /**
             * Fetch the user locations.
             */
            fetchLocations() {
                axios({
                    method: 'get',
                    url: uri + '/locations'
                }).then((response) => {
                    this.locations = response.data.locations;
                }).catch(() => {

                }).then(() => {
                    $.unblockUI();

                    this.$root.$emit('locationsFetched');
                });
            },

            /**
             * After location successfully saved
             * will append the new location and let the watchers do the job.
             */
            locationAdded(e) {
                this.locations.push(e);
                this.$root.$emit('locationAdded', e);
            }
        }
    }
</script>
